#.vscode
Main.uvgui.Legion
Main.uvopt
build
output
Debug
OBJ
Listings
*.var
*.cod
*.cof
*.lst
*.map
*.rep
*.zip
*.rar
*.o
*.d
*.crf
*.hex
*.dep
*.sct
*.exe
*.EXE
*.uvgui.*
*.dbgconf
#*.uvopt
JLinkLog.txt
